<!DOCTYPE html>
<html lang="en" ng-app="tdGameApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protodice</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="game-container" ng-controller="GameController">
        <h1>Tower Defense Dice Game</h1>
        <div class="controls">
            <button ng-click="togglePlaySection()">Play</button>
            <button ng-click="toggleHelpSection()">Help</button>
            <button ng-click="goBack()" ng-show="showBackButton">Back</button>
            <button ng-click="startGame()" ng-show="showStartButton">Start Game</button>
            <button ng-click="rollDice()" ng-show="showRollDiceButton">Roll Dice</button>
        </div>
        <div id="playSection" ng-show="showPlaySectionFlag">
            <div class="options">
                <div class="play-options">
                    <div id="playerSelection">
                        <label>Select number of players:</label><br>
                        <input type="radio" id="numPlayers1" name="numPlayers" value="1" ng-model="numPlayers">
                        <label for="numPlayers1">1</label><br>
                        <input type="radio" id="numPlayers2" name="numPlayers" value="2" ng-model="numPlayers">
                        <label for="numPlayers2">2</label><br>
                    </div>
                    <div id="playerNames">
                        <label for="player1Name">Player 1 Name:</label>
                        <input type="text" id="player1Name" ng-model="player1Name"><br>
                        <label for="player2Name" ng-show="numPlayers > 1">Player 2 Name:</label>
                        <input type="text" id="player2Name" ng-show="numPlayers > 1" ng-model="player2Name">
                    </div>
                    <div id="swapSides">
                        <label for="swapSides">Swap Sides (Play as Monsters):</label>
                        <input type="checkbox" id="swapSides" ng-model="swapSides">
                    </div>
                    <div id="waveSelection">
                        <label for="waveSelect">Select Max Waves:</label>
                        <select id="waveSelect" ng-model="selectedMaxWaves" ng-options="option for option in waveOptions">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="helpSection" ng-show="showHelpSectionFlag">
            <h2>Help</h2>
            <p>Instructions on how to play the game.</p>
        </div>
        <div class="game-area">
            <table>
                <tbody>
                    <tr ng-repeat="row in gameData.track">
                        <td ng-repeat="cell in row track by $index"
                            ng-class="{
                                'defense-zone': $index < 4,
                                'bridge-zone': $index === 4,
                                'monster-zone': $index > 4
                            }"
                            dnd-list="row"
                            dnd-drop="true" dnd-drop-success="onDropCell($event, $index, $parent.$index)">
                            <div class="defense" ng-if="cell && cell.type === 'defense'" dnd-draggable="cell" dnd-type="'defense'">{{cell.content.type}}</div>
                            <div class="monster" ng-if="cell && cell.type === 'monster'" dnd-draggable="cell" dnd-type="'monster'">{{cell.content.type}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="defenseHolder" ng-show="currentDefense">
                <div class="defense draggable" dnd-draggable="currentDefense" dnd-type="'defense'">{{currentDefense.type}}</div>
            </div>
            <div id="monsterHolder" ng-show="currentMonster">
                <div class="monster draggable" dnd-draggable="currentMonster" dnd-type="'monster'">{{currentMonster.type}}</div>
            </div>
            <div id="turnIndicator" ng-show="showTurnIndicator">
                <h3>Current Turn: <span id="currentPlayerName" ng-bind="currentPlayerName"></span></h3>
                <h3>Dice Roll: <span id="diceRollResult" ng-bind="diceRollResult"></span></h3>
                <h3>Wave: <span id="currentWave">{{ gameData.waveCount }} / {{ gameData.maxWaves === 9999 ? '∞' : gameData.maxWaves }}</span></h3>
            </div>
        </div>
    </div>
    <div id="customAlert" ng-show="showCustomAlert">
        <button ng-click="hideAlert()">Close</button>
        {{ alertMessage }}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="dist/angular-drag-and-drop-lists.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>
